@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
/* * {
  scrollbar-width: auto;
  scrollbar-color: oklch(var(--p)) oklch(var(--n));
} */

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: oklch(var(--n));
}

::-webkit-scrollbar-thumb {
  background-color: oklch(var(--p));
  border-radius: 0.5rem;
  border: 3px solid oklch(var(--n));
}
